h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin: 5rem 0 0 0;
}

img {
  height: 400px;
  width: auto;
}

.side {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.input {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 0;
  flex-grow: 1;
}

.input__text {
  margin: 0 10px 0 0;
  font-size: 1.5rem;
}

.input__field {
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.input__field:focus {
  outline: none;
}

.used {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
}

.used__title {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.used__field {
  /* justify-content: center; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
}

.used__letters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.used__letter {
  margin: 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: end;
}

.result {
  font-size: 5rem;
  margin: 0;
}

.top {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
